.container {
	display: flex;
}
.left {
    height: 646px;
    border: 1px solid black;
	border-right: 0px;
}
.head {
    width: 357px;
    height: 77px;
    background: green;
    border-radius: 5px;
}
b{
    position: absolute;
    width: 84px;
    height: 44px;
    left: 90px;
    top: 25px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 35px;
    color: white; 
}
#profile {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 20px;
    top: 17px;
    border-radius: 69px;
    border: 3px solid white;
}
.search-box {
    position: absolute;
    width: 357px;
    height: 60px;
    top: 85px;
    background: white;
}
.search-box input {
    position: absolute;
    width: 230px;
    height: 35px;
    left: 7px;
    top: 10px;
    border: none;
    background: #D3D3D3;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 50px;
}
.search-box input:focus { outline: none;}
.search-box button {
    position: absolute;
    border: none;
    background: none;
}
#search {
    width: 30px;
    height: 30px;
    right: 60px;
    top: 13px;
    border-left: 1px solid;
}
#menu {
    width: 40px;
    height: 40px;
    left: 310px;
    top: 10px;
}
.right {
	width: 980px;
    height: 646px;
    border: 1px solid black;
    background: #e9e4e4;
}

#pro {
    width: 60px;
    height: 60px;
    border: 3px solid blue;
    border-radius: 69px;
    margin-top: 15px;
    margin-left: 25px;
}
h2 {
    font-family: sans-serif;
    margin-left: 20px;
    margin-top: 35px;
}
.chat-head {
    width: 980px;
    height: 100px;
    border-radius: 10px;
    background: white;
    display: flex;
}
.chat-head button{
    width: 40px;
    height: 40px;
    margin-top: 25px;
	margin-left: 10px;
    border: none;
    background: none;
}
#call { margin-left: 580px;}
.send-box {
	margin-top: -65px;
    width: 980px;
    height: 60px;
    left: 363px;
    border-radius: 10px;
    background: white;
    display: flex;
}
.send-box input {
    width: 635px;
    height: 35px;
    margin-top: 12px;
    margin-left: 10px;
	padding-left: 15px;
    border-radius: 69px;
    border: none;
    background: #D3D3D3;
}
.send-box input:focus { outline: none;}
.send-box button {
    /* position: absolute; */
    height: 40px;
    width: 40px;
	margin-top: 12px;
	margin-left: 10px;
    border: none;
    background: none;
}

.friend {
    position: absolute;
    width: 357px;
    height: 110px;
    display: flex;
    background: #f4ecec;
    border-radius: 8px;
}
.f1 { top: 145px; }
.f2 { top: 245px; }
.f3 { top: 345px; }
.f4 { top: 445px; }
.f5 { top: 545px; }

#fr-img {
    margin-top: 15px;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 69px;
    border:3px solid blue;
}
.text { 
    font-family: sans-serif; 
    margin-left: 20px;
}
.text h3 {
    line-height: 30px;
    font-size: 15px;
    font-weight: 900px;
    margin-top: 25px;
    margin-bottom: 0px;
}
.text p {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#time { 
    color:gray;
    margin-left: 190px;
    font-size: 10px;
}
.chat-text {
    /* padding: 125px;
    margin-top: -385px; */
    margin-left: -125px;
    height: 550px;
    width: 838px;
    background: none;
}
.text-left {
    width: 90px;
    height: 40px;
    margin: 10px 180px;
    border-radius: 9px;
    background: blue;
}
.text-left p {
    font-family: sans-serif;
    color:white;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 0px;
}
#time-l {
    font-family: sans-serif;
    color:gray;
    margin-left: 110px;
    font-size: 10px;
}
#date {
    font-family: sans-serif;
    color:gray;
    margin-left: 530px;
    font-size: 13px;
}
.text-right {
    width: 90px;
    height: 40px;
    margin: 10px 950px;
    border-radius: 9px;
    background: blue;
}
.text-right p {
    font-family: sans-serif;
    color:white;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 0px;
}
#time-r {
    font-family: sans-serif;
    color:gray;
    margin-left: -50px;
    font-size: 10px;
}
#a {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid blue;
}

